<!DOCTYPE html>
<html lang="en">
     <%- include ('blocks/head.ejs') -%> 
<body>
     <%- include ('blocks/header.ejs', {selected: 'about'}); -%> 
     <main class="views"></main>
     <footer>
          <p>&#169; Клуб 'Миколаїв Дністровський'</p>
     </footer>
     <script src="script.js"></script>
</body>
</html>