<!DOCTYPE html>
<html lang="en">
     <%- include ('blocks/head.ejs') -%> 
<body>
     
     <%- include ('blocks/header.ejs', {selected: 'competition'}); -%> 

     <main class="views">
          <article class="advertisement">
               <h2>Що це за спорт і в чому його особливість</h2>
               <p>Варто відзначити, що, не дивлячись на все більшої популярності, яку завойовують голубині перегони в усьому світі, це досить важкий і небезпечний вид спорту. Бере участь в ньому певну кількість грамотно навчених «гоночних» птахів. Їх одночасно випускають в небо, після чого вони повинні на швидкість подолати підготовлений маршрут і повернутися назад в розплідник. </p>
               <p>Швидкість польоту обчислюється шляхом визначення часу, витраченого на подолання необхідної відстані. Голуб, який прилетів першим, і вважається переможцем. Останнім часом, для розрахунку часу польоту використовують спеціальні електронні мікрочіпи, оснащені GPS-навігаторами, які кріплять на тулуб птиці. Відстань, яку повинні подолати голуби в гонці, може варіюватися від 100 до 1000 км.</p>
               <img class="img-fluid" src="img/golub1.jpg" alt="" title="У голубиних перегонах беруть участь натреновані спортивні голуби.">
               <h2>Походження виду спорту</h2>
               <p>Гонки голубів, як вид спорту, зародилися в далекій давнині. За деякими даними, ще до нашої ери. Однак офіційно були затверджені тільки на початку 19 століття в Нідерландах і проходили як гонки домашніх поштових голубів. Брали участь в них птиці повинні були доставляти листи на швидкість. Трохи пізніше, змагання стали завойовувати популярність в Бельгії, Франції і Великобританії.</p>
               <p>Перші голубині перегони були проведені в 1820 році у Франції, де птахи долали відстань між Парижем і Льєжем. Друге змагання (в 1823 році) проходило в польоті від Лондона до Бельгії. Уже в 1875 році голубині перегони вперше пройшли в США, де через три роки завоювали надзвичайну популярність. А в 1900 році цей вид спорту увійшов в неофіційну програму Олімпійських ігор.</p>
               <h2>Як проходять гонки</h2>
               <p>У голубиних перегонах існує один важливий момент: всі птахи повинні стартувати одночасно, з однієї точки, прибувати строго в потрібний умовний пункт і повертатися назад. Відстань при цьому може бути абсолютно будь-який. У США відомий випадок, коли брали участь в гонках голуби подолали в польоті 1800 км.</p>
               <p>Для британських голубів заздалегідь складений маршрут, завдяки якому вони долітають до Франції, перетинаючи Ла-Манш. До змагань допускаються здорові, добре навчені птиці, старше 6 місяців. Вони повинні розвивати швидкість не менше 70 км / год. Як правило, спортивна кар’єра гонного голуба триває не більше трьох років.</p>
               <p>Кожен з них неодмінно повинен бути окольцован і мати спеціальний ідентифікаційний номер. За допомогою мікрочіпа з навігатором, легко можна визначити переможця змагань.</p>
               <img class="img-fluid" src="img/sport-goluby.jpg" alt="" title="У голубиних перегонах беруть участь тільки представники спортивних порід голубів.">
               <h2>В яких країнах популярний даний вид спорту</h2>
               <p>Голубині перегони неймовірно популярні в США, Канаді, Китаї, Австралії, Японії, Великобританії, Саудівської Аравії та інших країнах. В Америці офіційно існують дві національні асоціації голубиних гонок, в які входять 50 штатів і 14 тис. Любителів птахів. У Канаді така організація веде роботу з 1929 року.</p>
               <p>Бельгійська Федерація голуб`ятників налічує понад 50 тис. Учасників. Масштабні змагання щорічно проводяться і в Південній Австралії. У Німеччині 80 тис. Голуб`ятників намагаються боротися з забороною на відкриття власної асоціації гонок. В Англії проведення голубиних гонок патронує сама королева Єлизавета II. Але лідером по проведенню подібних змагань по праву вважається Тайвань, де вони проводяться щотижня.</p>
               <iframe width="100%" height="420px" src="https://www.youtube.com/embed/JGKbqLv8knE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </article>
     </main>


     <%- include ('blocks/footer.ejs') %> 

</body>
</html>