<!DOCTYPE html>
<html lang="en">
     <%- include ('blocks/head.ejs') -%> 
<body>
     <%- include ('blocks/header.ejs', {selected: 'media'}); -%> 
     <main class="views">
          <div class="mediaGrid">
               <div class="newsBlock">
                    <div class="newsBlockFlex">
                         <div>
                              <a href="#">
                                   <h2 id="newsTitle">Відео запуску голубів</h2>
                              </a>
                              <h3 id="date">
                                   26 січня 2019
                              </h3>
                         </div>
                         <div class="pigeonIcon">
                              <i class="fas fa-dove"></i>
                         </div>
                    </div>
                    <hr>
               </div>
          </div>
     </main>
     <%- include ('blocks/footer.ejs') %> 
</body>
</html>