<!DOCTYPE html>
<html lang="en">
     <%- include ('blocks/head.ejs') -%> 
<body>
     <%- include ('blocks/header.ejs', {selected: 'write'});-%> 
     <main class="views">
          <div class="header"><h1>Добавити новий запис</h1></div>
          <div class="admin">



               <div>
                    <h2>Головна сторінка</h2>
                    <form action="/writeMain" method="post" class="forms">
                         <label for="title">Заголовок</label><br>
                         <input type="text" name="title" id="title"><br>
                         <label for="content">Контент</label><br>
                         <textarea name="content" id="content" cols="30" rows="10"></textarea><br>
                         <button>Відправити</button>
                    </form>
               </div>

               <div>
                    <h2>Новини</h2>
                    <form action="/writeNews" method="post" class="forms" >
                         <label for="title">Заголовок</label><br>
                         <input type="text" name="title" id="title"><br>
                         <label for="content">Контент</label><br>
                         <textarea name="content" id="content" cols="30" rows="10"></textarea><br>
                         <button type="submit" >Відправити</button>
                    </form>
               </div>

               <div>
                    <h2>Фото/Відео</h2>
                    <form action="/writeNews" method="post" class="forms">
                         <label for="title">Заголовок</label><br>
                         <input type="text" name="title" id="title"><br>
                         <label for="content">Контент</label><br>
                         <textarea name="content" id="content" cols="30" rows="10"></textarea><br>
                         <button>Відправити</button>
                    </form>
               </div>

               <div>
                    <form action="/upload" enctype="multipart/form-data" method="POST">
                         <p><%= typeof msg != 'undefined' ? msg : '' %></p> 
                         <input class="addFileInvisible" type="file" name="fileToUpload" accept=".jpg, .jpeg, .png " id="fileToUpload">  
                         <button type="submit" >Відправити</button>
                    </form>
               </div>
               
          </div>
     </main>
     <%- include ('blocks/footer.ejs') %> 
     <!-- <script src='/public/js/script.js'></script> -->
</body>
</html>